/** Proxima Nova **/

@font-face {
    font-family: 'Proxima Nova';
    src: url('https://fittest-freakest-res.cloudinary.com/raw/upload/v1593438581/online_store/site/fonts/ProximaNova-Light.eot');
    src: url('https://fittest-freakest-res.cloudinary.com/raw/upload/v1593438581/online_store/site/fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
        url('https://fittest-freakest-res.cloudinary.com/raw/upload/v1593438581/online_store/site/fonts/ProximaNova-Light.woff2') format('woff2'),
        url('https://fittest-freakest-res.cloudinary.com/raw/upload/v1593438581/online_store/site/fonts/ProximaNova-Light.woff') format('woff'),
        url('https://fittest-freakest-res.cloudinary.com/raw/upload/v1593438581/online_store/site/fonts/ProximaNova-Light.ttf') format('truetype'),
        url('ProximaNova-Light.svg#ProximaNova-Light') format('svg');
}

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('https://fittest-freakest-res.cloudinary.com/raw/upload/v1593438581/online_store/site/fonts/ProximaNova-Bold.eot');
    src: url('https://fittest-freakest-res.cloudinary.com/raw/upload/v1593438581/online_store/site/fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://fittest-freakest-res.cloudinary.com/raw/upload/v1593438581/online_store/site/fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('https://fittest-freakest-res.cloudinary.com/raw/upload/v1593438581/online_store/site/fonts/ProximaNova-Bold.woff') format('woff'),
        url('https://fittest-freakest-res.cloudinary.com/raw/upload/v1593438581/online_store/site/fonts/ProximaNova-Bold.ttf') format('truetype'),
        url('ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
}

@font-face {
    font-family: 'United Italic Condensed Bold';
    src: url('https://fittest-freakest-res.cloudinary.com/raw/upload/v1593438581/online_store/site/fonts/UnitedItalicCondBlack.eot');
    src: url('https://fittest-freakest-res.cloudinary.com/raw/upload/v1593438581/online_store/site/fonts/UnitedItalicCondBlack.eot?#iefix') format('embedded-opentype'),
        url('https://fittest-freakest-res.cloudinary.com/raw/upload/v1593438581/online_store/site/fonts/UnitedItalicCondBlack.woff2') format('woff2'),
        url('https://fittest-freakest-res.cloudinary.com/raw/upload/v1593438581/online_store/site/fonts/UnitedItalicCondBlack.woff') format('woff'),
        url('https://fittest-freakest-res.cloudinary.com/raw/upload/v1593438581/online_store/site/fonts/UnitedItalicCondBlack.ttf') format('truetype'),
        url('fonts/UnitedItalicCondBlack.svg#UnitedItalicCondBlack') format('svg');
}

@font-face {
    font-family: 'United Italic Light';
    src: url('https://fittest-freakest-res.cloudinary.com/raw/upload/v1593438581/online_store/site/fonts/UnitedItalicReg-Light.eot');
    src: url('https://fittest-freakest-res.cloudinary.com/raw/upload/v1593438581/online_store/site/fonts/UnitedItalicReg-Light.eot?#iefix') format('embedded-opentype'),
        url('https://fittest-freakest-res.cloudinary.com/raw/upload/v1593438581/online_store/site/fonts/UnitedItalicReg-Light.woff2') format('woff2'),
        url('https://fittest-freakest-res.cloudinary.com/raw/upload/v1593438581/online_store/site/fonts/UnitedItalicReg-Light.woff') format('woff'),
        url('https://fittest-freakest-res.cloudinary.com/raw/upload/v1593438581/online_store/site/fonts/UnitedItalicReg-Light.ttf') format('truetype'),
        url('UnitedItalicReg-Light.svg#UnitedItalicReg-Light') format('svg');
}

/*@font-face {
    font-family: 'TimmonsNY2';
    src: url('https://fittest-freakest-res.cloudinary.com/raw/upload/v1593438581/online_store/site/fonts/TimmonsNY2.eot');
    src: url('https://fittest-freakest-res.cloudinary.com/raw/upload/v1593438581/online_store/site/fonts/TimmonsNY2.eot?#iefix') format('embedded-opentype'),
        url('https://fittest-freakest-res.cloudinary.com/raw/upload/v1593438581/online_store/site/fonts/TimmonsNY2.woff2') format('woff2'),
        url('https://fittest-freakest-res.cloudinary.com/raw/upload/v1593438581/online_store/site/fonts/TimmonsNY2.woff') format('woff'),
        url('https://fittest-freakest-res.cloudinary.com/raw/upload/v1593438581/online_store/site/fonts/TimmonsNY2.ttf') format('truetype');
}*/